---
layout: default
---

<div class="home">
	<div class="video-container">
  	<iframe width="100%" height="318" src="//www.youtube.com/embed/Le8pTXQqM3s?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
	<h2>What is WebVR?</h2>
	<p>WebVR is an open standard that makes it possible to experience VR in your browser. The goal is to make it easier for everyone to get into VR experiences, no matter what device you have.</p>
	<h2>How do I experience WebVR?</h2>
	<p>You need two things to experience WebVR: a headset and a compatible browser.</p>
	<h2>What is A-frame?</h2>
	<p>A web framework for building virtual reality experiences. Make WebVR with HTML and Entity-Component. Works on Vive, Rift, Daydream, GearVR, desktop.</p>
</div>
